!!!
%html
  %head
    %title BSC
    = stylesheet_link_tag    "compass-scss-ui-collection"

  %body
    #wrapper
      #main
        %dl
          %dt 3d button
          %dd
            %a.btn-3d{href: "#"}
              クリック！
          %dt outline charactor
          %dd
            %p.text-outline-character
              袋文字テキスト
