!!!
%html
  %head
    %title BSC
    = stylesheet_link_tag    "button-3d"
    = csrf_meta_tags
    = favicon_link_tag       "favicon.ico"

  %body
    #wrapper
      #main
        %dl
          %dt 3d button
          %dd
            %a.btn-3d{href: "#"}
              クリック！
